<h1>The Master Coach!</h1>

<h2> Your Question:</h2>
<h3><%= @question %></h3>

<h2> Master's Answer:</h2>
<h3><%= @answer %></h3>

<%= link_to "Ask a new question!", ask_path %>
<p>Follow me for more brilliant insights like this!! </p>
