// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;
$blue: #110330;

body {
  background: $gray;
  color: $blue;
  font-family: 'Courier New', Courier, monospace;

  .chat {
    background: #444444;
    color: #cbb3ff;
  }
}


